* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* LAYOUT */
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 78px 88px 28px 88px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.col {
    flex-basis: calc(100% / 7 );
    padding: 0 4px;
    margin-bottom: 8px;
}

/* USER VIEW */
.user-view {
    position: relative;
    flex-grow: 1;
    background-color: black;
    color: white;
}

.view-options {
    position: absolute;
    top: 4px;
    right: 4px;
}

.view-options .view-mode,
.view-options .resize {
    display: inline-block;
    line-height: 25px;
    padding: 0 4px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 4px;
}

.view-options .view-mode {
    margin-right: 8px;
}

.card-speaker {
    position: relative;
}

.card-speaker .speaker__control {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    line-height: 27px;
    padding: 0 4px;
}


/* DEBUG */
.debug .toolbar {
    background-color: sandybrown;
    padding: 16px;
}