* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.user-view {
    flex-grow: 1;
}


/* DEBUG */
.debug .user-view {
    background-color: aquamarine;
    padding: 16px;
}

.debug .toolbar {
    background-color: sandybrown;
    padding: 16px;
}