* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

ul, ol, menu {
    list-style: none;
}

button {
    background-color: transparent;
    color: currentColor;
    border: none;
}

/* LAYOUT */
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 78px 88px 28px 88px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.col {
    flex-basis: calc(100% / 7 );
    padding: 0 4px;
    margin-bottom: 8px;
}

/* USER VIEW */
.user-view {
    position: relative;
    flex-grow: 1;
}

.view-options {
    position: absolute;
    top: 4px;
    right: 4px;
}

.view-options .view-mode,
.view-options .resize {
    display: inline-block;
    line-height: 25px;
    padding: 0 4px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 4px;
}

.view-options .view-mode {
    margin-right: 8px;
}

.card-speaker {
    position: relative;
}

.card-speaker .speaker__control {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    line-height: 27px;
    padding: 0 4px;
}

/* TOOLBAR */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
}

.tool-wrapper {
    display: flex;
    gap: 20px;
}


.tool-wrapper .tool {
    display: flex;
    gap: 20px;
}

.tool__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.tool__icon i {
    font-size: 24px;
}

.tool.tool--green .tool__icon i {
    color: #4BC800;
}

.button {
    line-height: 80px;
    padding: 0 20px;
    font-size: 16px;
    color: red;
    background-color: #4A4A4A;
}